@charset "utf-8";


.wrap{/* 패럴랙스에 필요한 부분 */
	font-size: 1.2em;
	position: relative;
	width: 100%;
	height:100vh;
	overflow-x: hidden;  
	overflow-y: scroll;
	perspective: 2%; 
	perspective-origin: 20% 20%;
	 /* 패럴랙스에 필요한 부분끝 */
	}


.inner{
	width:100%; max-width: 1410px; margin:0 auto ; 
}


section{position: relative;
		width:100%; height:100%; 
		background-color:transparent;
		
		}

		article{
			width:100%; 
			

		}
		

#headerIn{
	display: flex;
	width: 100%;
	box-sizing: border-box;
	position: fixed;
	z-index: 20;
	}

		/*#header.fix {
			position: fixed;
			width:100%;
			border-bottom:1px solid #19ce60;
		}
	/*	#header.fix  .green_window {border:none;}
		#header.fix  .green_window:before{
			content: '';display: block;
			width: 28px;
			height: 22px;
			background: url(image/icon_set.png);
			background-size: 440px 410px;
			background-position: -200px -386px;
			background-repeat: no-repeat;
			position: absolute;
		}*/
	
		#headerIn .nav{
			position: relative;
			width: 100%;
			
		}

		#headerIn .gnb{
			display: block;
			position: absolute;
			padding-top: 0.5%;
			top:15%;
			right:5%;
			padding-top: 2%;
			font-size: 1.1em;
			font-weight: 500;
			z-index: 25;
			font-family: 'MYHaemalgeunSangsang'

		}
		#headerIn .nav > .gnb > li{
			padding: 2% 0 6% 0;
		}

		#headerIn .nav > .gnb > li.active a{
			color:blue;
			border-bottom-color: 1px solid blue;
		}

		#headerIn .gnb > li > a{
			width: 100%;
			text-align: right;
		}

		#headerIn .gnb > li > a:hover {
			color: blue;
			text-shadow: 1px 1px 5px rgba(74, 34, 221, 0.5);
			border-bottom: 2px solid;
			border-bottom-color:blue;
		}

		#headerIn .gnb-le{
			width: 100%;
			padding: 1% 2% 2% 2%;
			font-size: 1.4em;
			font-family: 'MYHaemalgeunSangsang'
		}

		


.container{
	 	z-index:2;
	 /* 패럴랙스에 필요한 부분 */
		width:100%; 
		top:0; 
		transform-origin: 0; 
		transform: translate(-3%) scale(0.725);/* 패럴랙스에 필요한 부분 끝*/
}

.our-work-wrapper{
        	    display: flex; flex-direction: row;
				 position: relative;
				margin-top: 0%;
				box-sizing: border-box;
 }		

.our-work-wrapper .image-section{position: relative;width:50%; height: 100vh;}
.our-work-wrapper .image-section img {
		    width: 100%;
}

.our-work-wrapper .text-wrapper,
.our-work-wrapper .text-wrapper2,
.our-work-wrapper .text-wrapper3 {
		    width: 100%;
			box-sizing: border-box;
			height: 100vh;
			position: relative;
}

.our-work-wrapper .text-wrapper2 {
	position: relative;
	width: 100%; 
	box-sizing: border-box;
	height: 100vh;
	
}

.our-work-wrapper .text-wrapper3 {
	position: relative;
	width: 100%; 
	box-sizing: border-box;
	height: 100vh;

}

/*****First Section Circle Shape*******/
#section1{
	margin-top: 0;
	padding-top: 11vh;
	width: 100%;
	/*background-color: aqua;*/
	height: 100vh;
}



#section1 .txt{
	text-align: center;
	font-family: 'MYHaemalgeunSangsang';
	font-size: 5rem;
	margin: auto;
}


#section1 .our-work-wrapper .image-section{
position: relative;
width: 100%;
top: 20%;
}


.mainLogo {
    position: absolute;
	width: 45%;
    top: 2.5%;
    left: 25%;
	border: 2vh solid #000;
    z-index: 11;
    margin-left: -3vh;
    margin-top: -3vh;
    animation-name: 360;
    animation-timing-function: linear;
    animation-duration: 20s;
    }


#section1 .first-section{
	position: relative;
	border:1px ;
	width: 100%;
	height: 100vh;
	left: 7vh;
	right: 0;
	opacity: 1;
	top: 0px;
	transition: 3s right, 3s opacity;
	
}

#section1 .first-section.show-animation .txt {
	right:50%;
	opacity: 0;			
}

#section1 .first-section .image-section > .txt{
	transform: translate(150%,0);
	opacity: 0;
	transition: 4s transform, 3s opacity;
}

#section1 .first-section.show-animation .image-section > .txt{
	transform: translate(0,0);
	opacity: 1;
}

#section1 .first-section .image-section .txt > .name{
	position: relative;
	top:0;
	width: 100%;
	font-size: 3rem;
	text-align: center;
	
}

#section1 .t1, .t2, .t3{ 
	position: absolute ;
	width:10%;
	height:20%; 
	overflow: hidden;
}

#section1  .t1{
	top: 43%;
    left: 52%;
	border-top-left-radius: 200px;
	border-top-right-radius:200px;
	border-bottom-right-radius:200px  ;
	border-bottom-left-radius:200px  ;
	background-color:skyblue;

}

#section1 .t2{
	top: 29%;
    left: 57%;;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius:200px;
	background-color:green;
	
}

#section1  .t3{
	top:15%;
	left:62%;
	background-color:red;
	border-top-right-radius:200px;
	
}

		/***********************/


		/*****Second Section Circle Shape*******/

#section2{
	width: 100%;
	background-color: rgb(249, 162, 97, 0.5);
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#section2 .second-section {
	position: relative;
	width: 100%;
	height: 100vh;
	left: 10%;
	opacity: 0;
	top: 0px;
	transition: 3s top, 2s opacity;
}

#section2 .text-wrapper {
	width: 45%; 
	padding: 6% 0 0 4%;
	box-sizing: border-box;
	position: relative;
	
}

#section2 .second-section .text-wrapper > h3 {
	font-size: 2em;
	padding: 0% 1% 1% 20%;
	box-sizing: border-box;
}


#section2 .second-section .text-wrapper > p {
	width: 100%;
	font-size: 1.2em;
	padding: 1% 1% 1% 1%;
	box-sizing: border-box;
}

#section2 .second-section .text-wrapper > p > span{
	font-weight: 700;
}

#section2 .second-section.show-animation {
	top: 0;
	left: 17%;
    opacity: 1;
		}

#section2 .second-section .charset{
			position: relative;
			width:45%;
			transform: translate(25%,0);
			opacity: 0;
			transition: 4s transform, 2s opacity;
}	

#section2 .second-section .text-wrapper .size{
	width: 100%;
	font-size: 2em;
	text-align: center;
	padding-top: 2% ;
} 

#section2 .second-section .text-wrapper > a:hover .size{
	color:blue

}

#section2 .second-section .charset > img{
	width: 100%;
}

#section2 .second-section.show-animation .charset{
	transform: translate(0,17%);
	opacity: 1;
}

#section2 .second-section .text-wrapper{
			transform: translate(0,0);
			opacity: 0;
			transition: 4s transform, 2s opacity;
}

#section2 .second-section.show-animation .text-wrapper{
		transform: translate(0,11%);
			opacity: 1;
}

/*--section2끝--*/


#section3{
	width: 100%;
	/*background-color: rgb(105, 98, 98);*/
	height: 100vh;
	visibility: visible;
	
}


#section3 .second-section-1 {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
	left: 35%;
	opacity: 0;
	top: -10%;
	transition: 3s top, 2s opacity;
	visibility: visible;
	
}


#section3 .text-wrapper-1{
	position: relative;
	width: 80%; 
	padding:1% 0 0 8% ;
	box-sizing: border-box;
}


#section3 .text-wrapper-1-1{
	display: grid;
	width: 100%;
	position: absolute;
    grid-auto-rows: minmax(50%, 50%);
    grid-column: 1/3;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-gap: 2em; */
    top: 49%;
    right: 3%;
}


#section3 .text-wrapper-1-1 > img{
	width: 80%;
}


#section3 .second-section-1 .text-wrapper-1 > h2 {
	font-size: 3em;
	text-align: center;
	padding-bottom:2%;
	box-sizing: border-box;
}


#section3 .second-section-1 .text-wrapper-1 > h3 {
	font-size: 1.8em;
	text-align: center;
	padding-top:2%;
	box-sizing: border-box;
}


#section3 .second-section-1 .text-wrapper-1 > p {
	font-size: 1.2em;
	text-align: center;
	padding: 1% 0% 1% 0;
	box-sizing: border-box;
}

#section3 .second-section-1.show-animation {
	top: 6%;
    left: 15%;
    opacity: 1;
		}

#section3 .second-section-1 .text-wrapper-1{
			transform: translate(0,0);
			opacity: 0;
			transition: 4s transform, 2s opacity;
}



#section3 .second-section-1 .text-wrapper-1 .plus{
	color: #88C9F2;
	font-weight: 700;
	font-size: 1.3em;
}

#section3 .second-section-1 .text-wrapper-1 .minus{
		color:#F2CD5C;
		font-weight: 700;
		font-size: 1.3em;
	} 

#section3 .second-section-1 .text-wrapper-1 .plus2{
		color:#6FBFB1;
		font-weight: 700;
		font-size: 1.3em;
	} 

#section3 .second-section-1.show-animation .text-wrapper-1{
		transform: translate(0,0);
		opacity: 2;
}


#section3 .text-wrapper-1 .sp{
	position: absolute;
	width: 20%;
	height: 20%;
	top: 36%;
    left: 47.5%;
	background-color:blue;
}

/*--section3 끝-*/

#section4{
	width: 100%;
	/*background-color: rgb(105, 98, 98);*/
	height: 100vh;}

#section4 .third-section {
	position: relative;
	height: 100vh;
	top: 0%;
	opacity: 0;
	transition: 3s top, 2s opacity;
}


#section4 .third-section.show-animation {
	left: 10%;
    opacity: 1;
		}


#section4 .third-section .text-wrapper2 .row-bottom-padded-sm {
			position: relative;
			top: 20%;
			transform: translate(0,0);
			opacity: 0;
			transition: 4s transform, 4s opacity;
			z-index: 8989;
}


#section4 .third-section.show-animation .text-wrapper2 .row-bottom-padded-sm{
	transform: translate(0,25%);
	opacity: 1;
}


#section4 .third-section .text-wrapper2 .row-bottom-padded-sm > img{
	transform: translate(0,0);
	opacity: 0;
	transition: 4s transform, 4s opacity;
}


#section4 .third-section.show-animation .text-wrapper2 .row-bottom-padded-sm >img{
	width: 20%;
transform: translate(0,25%);
opacity: 1;
transition: 4s transform, 4s opacity;
}


#section4 .third-section .text-wrapper2 .row-bottom-padded-sm2-1 {
	transform: translate(0,0);
	opacity: 0;
	transition: 4s transform, 4s opacity;
}


#section4 .third-section.show-animation .text-wrapper2 .row-bottom-padded-sm2-1{
transform: translate(0,35%);
opacity: 2;
transition: 4s transform, 4s opacity;
}


#section4 .third-section .text-wrapper2 .row-bottom-padded-sm2-1{
	width: 100%;
	display: flex;
	flex-direction: column;

}


#section4 p{
	width: 100%;
	visibility: visible;
	color: #000;
	font-size: 1.5em;
	margin-bottom: 2% ;
	text-align: center;
	padding: 1% 1% 1% 1%;
}

#section4 h2{
	position: relative;
	width: 100%;
	top:14%;
	left:-10%;
	font-size: 2em;
	text-align: center;
	visibility: visible;
	color: #000;
}

#section4 .third-section .h2_2{
	top: -6%;
    left: 9%;
	color: #000;
	text-align: center;
	font-size: 2.5em;
	z-index: 25;
    /* font-weight: 400; */
}

#section4 .third-section .h2_3{
	font-size: 1.8em;
	color: black;
    /* font-weight: 400; */
}
	
	
	/*****third Section Circle Shape*******/




	/***********************/


	/*****fourth Section Circle Shape*******/

	
/*------*/



#section5-1{
	width: 100%;
	height: 100vh;
	max-width:100%;
}

#section5-1 .fourth-section {
	position: relative;
	width: 100%;
	height: 100vh;
	top: 10%;
	opacity: 0;
	transition: 3s top, 2s opacity;
}

#section5-1 .fourth-section.show-animation {
	top: -5%;
    left: 0%;
    opacity: 1;
}

#section5-1 .fourth-section{
	width: 100%;
}

#section5-1 .third-section .container4 .text-wrapper .white-panel{
			transform: translate(0,0);
			opacity: 0;
		}


#section5-1 .third-section.show-animation .container4 .text-wrapper .white-panel{
	transform: translate(0,25%);
	opacity: 2;
	transition: 4s transform, 5s opacity;
}

#section5-1 .third-section.show-animation .container4 .text-wrapper .white-panel{
	transform: translate(0,40%);
	opacity: 2;
	transition: 4s transform, 5s opacity;
}

#section5-1 .third-section .container4 .text-wrapper .white-panel{
	transform: translate(0,0);
	opacity: 0;
}

#section5-1 .third-section.show-animation .container4 .text-wrapper .white-panel{
transform: translate(0,20%);
opacity: 2;
transition: 4s transform, 5s opacity;
}


#section5-1 .title{
	top: -25%;
    left: 69%;
	font-size: 2em;
}


#section5-1 h2{
	width: 100%;
	font-size: 2em;
    top: 36%;
	text-align: center;
	visibility: visible;
	color: black;
}

#section5-1 .sec_5_txt{
	padding-top: 5%;
}
#section5-1 .sec_5_txt h3{
	font-size: 1.8em;
	padding: 2% 2% 2% 2% ;
}

#section5-1 .sec_5_txt p{
	font-size: 1.3em;
	padding: 2% 2% 2% 0% ;
}


#section5 .txt2,
#section5 .txt3,
#section5 .txt4{
	position: absolute;
    width: 100%;
    text-align: center;
    visibility: visible;
    color: #000;
	background-size: 150%;
}


#section5 .container .text-wrapper  .white-panel > a >  .txt2{
    display: inline-block;
    transform: rotate(-40deg);
    top: 8%;
    font-size: 1.2em;
    right: 44%;

}

#section5 .container .text-wrapper2  .white-panel2 > a > .txt3{
	display: inline-block;
	transform: rotate(28deg);
    top: -10%;
	font-size: 1.2em;
    right: -46%;
	z-index: 5978;
}

#section5 .container .text-wrapper2  .white-panel3 .back{
	position: relative;
}
#section5 .container .text-wrapper2  .white-panel3 .back{

}

#section5 .container .text-wrapper3  .white-panel3 > a > .txt4{
	display: inline-block;
	transform: rotate(-30deg);
    top: -8%;
	right: 46%;
	font-size: 1.2em;
	border-radius: 55%;
	z-index: 5979;
	overflow: hidden;
	border: 1px solid none;
}

	/***********************/ 

/* 웹*/

/*미디어쿼리*/

@media all and (max-width:1163px){  
	#headerIn .gnb-le {
		font-size: 1.2em;
	}

	#section1 .txt {
		font-size: 3em;
	}

	#section1 .first-section .image-section .txt > .name{
		font-size: 0.8em;
	}
	#section2 .text-wrapper {
		padding: 0% 1% 1% 5%%;
	}

	#section2 .second-section .text-wrapper > h3{
		font-size: 1.5em;
	}
	#section2 .second-section .text-wrapper > p{
		font-size: 0.9em;
	}

	#section2 .second-section.show-animation .text-wrapper{
		transform: translate(0,11%);
	}

	#section2 .second-section .text-wrapper .size{
		font-size: 1.5em;
	}

	#section2 .second-section .charset {
		position: relative;
		width: 52%;}

	#section3 .second-section-1.show-animation .text-wrapper-1{
		transform: translate(0,0%);
	}
	#section3 .text-wrapper-1-1{
		top:42%
	}

	#section5 .title{
		top: -22%;
		font-size: 1.8em;
	}

	#section5 .container .text-wrapper  .white-panel > a >  .txt2,
	#section5 .container .text-wrapper2  .white-panel2 > a >  .txt3,
	#section5 .container .text-wrapper3  .white-panel3 > a >  .txt4{
		font-size: 1em;
	}
	#section5 .container .text-wrapper2 .white-panel2{
		top: 42%;
	}

}/*1163 */

@media all and (max-width:860px){
	.container{
			transform: translate(0%) scale(0.7);
	}

	#section3 .second-section-1 .text-wrapper-1 > h2{
		font-size: 2.4em;
	}
	#section3 .second-section-1 .text-wrapper-1 > p{
		font-size: 1em;
	}

}/*860 */

@media all and (max-width:785px){  

	.container{
		transform: translate(11%) scale(0.7);
		}

	#headerIn .gnb{
		font-size: 0.9em;
		top: 99%;
   		 right: 8%;
	}
	#headerIn .nav{
		display: none;
	}

	#headerIn .spinner-master{
		position: absolute;
		margin: 15px;
		height: 30px;
		width: 30px;
		top: 0.5em;
    	right: 1.5em;
		float: right; }

		#headerIn  .spinner-master .spinner {
			position: absolute;
			height: 4px;
			width: 100%;
			padding: 0;
			background-color: #000;
			z-index: 789789;
		}
		#headerIn .spinner-master > label > span:first-child{top:6%}
		#headerIn .spinner-master > label > span:nth-child(2){top:28%}
		#headerIn .spinner-master > label > span:last-child{top: 53%;}

		#headerIn .spinner-master  .spinner .diagonal .part-1{
			position: absolute;
			float: right;
		}

		#headerIn .spinner-master  .spinner .horizontal {
			position: relative;
			float: right;
			margin-top: 8px;
			top:20%
		}

		#headerIn .spinner-master  .spinner .diagonal.part-2 {
			position: relative;
			float: right;
			margin-top: 4px;
			top:5%
		}

		#headerIn .spinner-master  .spinner .diagonal .part-1.on{
			position: relative;
			float: right;
		}

		#headerIn .spinner-master  .spinner .horizontal.on {
			position: relative;
			float: right;
			margin-top: 8px;
		}

		#headerIn .spinner-master .spinner .diagonal.on .part-2 {
			position: relative;
			float: right;
			margin-top: 10%;
		
		}


	#section1 .t1 {
		top: 34%;
		left: 36%;}

	#section1 .t2 {
		top: 26%;
		left: 47%;
		}

	#section1 .t3 {
		top: 18%;
		left: 54%;
		}

	#section1 .t1, .t2, .t3 {
		width: 20%;
    	height: 20%;
	}

	#section2 .second-section.show-animation{
		top: 7%;
		left: 15%;
	}
	#section1 .first-section .image-section .txt > .name{
		font-size: 0.5em;
	}

	#section2 .second-section .text-wrapper > h3{
		font-size: 1.1em;
		padding: 0% 2% 1% 14%;
	}
	#section2 .second-section .text-wrapper > p{
		font-size: 1em;
		padding: 1% 1% 1% 6%;
	}

	#section2 .second-section.show-animation .text-wrapper{
		transform: translate(0,14%);
	}
	
	
	
	#section2 .second-section .text-wrapper .size{
		font-size: 1em;
	}
	#section3 .second-section-1.show-animation {
		top: 12%;
		left: 10%;
	}

	#section3 .second-section-1 .text-wrapper-1 > h2{
		font-size: 2.2em;
	}
	#section3 .second-section-1 .text-wrapper-1 > p{
		font-size: 0.7em;
	
	}
	#section3 .second-section-1 .text-wrapper-1 > h3{
		font-size: 1.2em;
	}

	#section3 .text-wrapper-1-1{
		top: 20%;
   		right: 12%;
	}
	#section3 .text-wrapper-1-1 > img{
		width: 100%;}

#section4 .our-work-wrapper .text-wrapper2 {
    
    width: 95%;}
	
	#section4 .third-section.show-animation {
		left: 5%;
	}

		#section4 .h2{
			font-size: 1.8em

		}

		#section4 .h2_2 {
			top: -11%;
			left: 11%;
		}

		#section5-1 .sec_5_txt h3 {
			font-size: 1.2em;
		}
					

}/*761 */



@media all and (max-width:580px){  

	.container{
		transform: translate(0%) scale(0.7);
		}

		
	#headerIn .gnb{
		font-size: 0.9em;
		top: 110%;
   		 right: 8%;
	}
	#headerIn .nav{
		display: none;
	}

	#headerIn .spinner-master{
		position: absolute;
		margin: 15px;
		height: 30px;
		width: 30px;
		top: 0.5em;
    	right: 1.5em;
		float: right; }

		#headerIn  .spinner-master .spinner {
			position: absolute;
			height: 4px;
			width: 100%;
			padding: 0;
			background-color: #000;
			z-index: 789789;
		}
	
	#section1 .txt{
		font-size: 3.2em;
	}


	.mainLogo {
		width: 80%;
		left: 18%;
	}
	#section1 .t1 {
		top: 34%;
		left: 36%;}

	#section1 .t2 {
		top: 26%;
		left: 47%;
		}

	#section1 .t3 {
		top: 18%;
		left: 54%;
		}

	#section1 .t1, .t2, .t3 {
		width: 20%;
    	height: 20%;
	}   /* 580 section1 끝*/

	#section2 .our-work-wrapper{
		display: block;
	}

	#section2 .second-section.show-animation{
		top: -11%;
   		left: 17%;
	}
	#section1 .first-section .image-section .txt > .name{
		font-size: 0.5em;
	}

	#section2 .second-section .text-wrapper {
		width: 100%; 
		
	}
	

	#section2 .second-section .text-wrapper > h3{
		font-size: 1.8em;
		text-align: center;
		padding: 0% 14% 1% 12%;
	}
	#section2 .second-section .text-wrapper > p{
		font-size: 1em;
		padding: 1% 1% 1% 0%;
	}

	#section2 .second-section.show-animation .text-wrapper{
		transform: translate(0, 3%);
	}
	
	#section2 .second-section .charset{
	
		width:100%;
		
	
}	
	
#section2 .second-section.show-animation .charset {
    transform: translate(0,0%);
    opacity: 1;
}

	#section2 .second-section .text-wrapper .size{
		font-size: 2.2em;
	}

	/*-580 section-*/
	#section3 .text-wrapper-1 {
		padding: 1% 0 0 0%;
	
	}


	#section3 .second-section-1.show-animation {
		top: 15%;
		left: 22%;
	}

	#section3 .second-section-1 .text-wrapper-1 > h2{
		font-size: 2.7em;
	}
	#section3 .second-section-1 .text-wrapper-1 > p{
		font-size: 1em;
	
	}
	#section3 .second-section-1 .text-wrapper-1 > h3{
		font-size: 1.2em;
	}

	#section3 .text-wrapper-1-1{
		top: 30%;
   		right: 12%;
	}
	#section3 .text-wrapper-1-1 > img{
		width: 100%;}


		

#section4 .our-work-wrapper .text-wrapper2 {
    width: 100%;
}
	
	#section4 .third-section.show-animation {
		left: 10%;
    	top: -6%;
	}
		#section4 .third-section  .h2_2 {
			left: 8%;
			top: -1%;
			text-align: center;
		
		}
	
		#section4 .third-section .h2_3 {
			font-size: 1em;
		}

	
	#section5-1 .fourth-section.show-animation {
    		left: 0%;
			top: -10%;
}
	#section5-1 .sec_5_txt h3 {
		font-size: 1.2em;
	}
			
	.container4{
		margin-left: 5%;
	}

}	/*560*/
