#section5-1 .container4{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 1%;
	margin-left: 0%;
	margin-top: 5%;
	margin-bottom: 5%;
    justify-content: space-between;
    box-sizing: border-box;
}

 .white-panel{
	position:relative;
	width: 60%;
	height: 60%;
	top: 0%;
	left:5%;
	border-radius: 10%;
	margin-bottom: 8%;
	box-shadow:0px 1px 2px rgba(0,0,0,0.3)
}
#section5-1 .sec_5_txt{
	width: 40%;
    position: relative;
    left: 15%;
}

#section5-1 .title{
	text-align: center;
	padding-top: 5%;
}

#section5-1 .white-panel2{
	position:relative;
	top: 0%;
	left:5%;
	border-radius: 10%;
	margin-bottom: 5%;
	box-shadow:0px 1px 2px rgba(0,0,0,0.3)
	
}

.white-panel > .back{
	position: absolute;
    transform: rotate(-73deg);
    width: 50%;
	top: -26%;
    left: -18%;
}

.white-panel2 > .back{
	position: absolute;
    transform: rotate(165deg);
    width: 50%;
    top: -44%;
    left: 71%;
}

.white-panel3 > .back{
	position: absolute;
    transform: rotate(-71deg);
    width: 50%;
    top: -42%;
    left: -20%;
}



 .white-panel img,
 .white-panel2 img,
 .white-panel3 img {
	width:100%;
	max-width:100%;
	border-radius: 10%;
	height:auto;
	opacity: 0.5;
	
}
 

 .white-panel h2,
.white-panel2 h2,
 .white-panel3 h2 {
	font-size:1em;
	font-weight:bold;
	background-color:transparent;
}

.white-panel > a:hover,
.white-panel2 > a:hover,
.white-panel3 > a:hover{
	box-shadow:1px 1px 10px rgba(0,0,0,0.5);
	margin-top:-5px;
	
}

.white-panel > a:hover img,
.white-panel2 > a:hover img,
.white-panel3 > a:hover img{
opacity: 1;
transform: scale(1.2);
overflow: hidden;
box-sizing: content-box
;}



a:link, a:hover {
	text-decoration:none;
}

@media all and(max-width:860px){

	#section5-1 .container4 {
		padding-left: 0%;
    	margin-left: 0%;
	}


};

@media all and(max-width:768px){

	#section5-1 .container4 {
		padding-left: 0%;
    	margin-left: 0%;
	}


};

@media all and(max-width:580px){

	#section5-1 .container4 {
		padding: 3% 3% 3% 3%;

}
}
