.container{max-width:1440px; height: 100vh;
    margin:0 auto}
.row{position: relative;
    display:flex;flex-wrap:wrap;
    justify-content:start ;
    width: 100%;
    top: 7%;
    left: 10%;
}

.row > div{width:calc((100% - 40px) / 3);margin-right:20px;}
.row > div:nth-child(3n){margin-right:0}

#section4 {
overflow: hidden;
position: relative;
color: rgba(255, 255, 255, 0.5);
background-color: #f37d6b
/*background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #52d3aa));*/
/* Android 2.3 */
/*background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);*/
/* IE10+ */
/*background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #52d3aa 100%);
background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #52d3aa 100%);*/
}
#section4 a {
color: rgba(255, 255, 255, 0.5);
text-decoration: underline;
}
#section4 a:hover {
color: white;
}
#section4:before, #section4:after {
position: absolute;
transform: rotate(-1.7deg);
-ms-transform: rotate(-1.7deg);
-webkit-transform: rotate(-1.7deg);
-o-transform: rotate(-1.7deg);
-moz-transform: rotate(-1.7deg);
background-color: #fff;
content: "";
z-index: 3;
display: inline-block;
height: 70px;
padding: 0;
width: 101%;
}
#section4:before {
top: 0;
margin-top: -35px;
}
#section4:after {
bottom: 0;
margin-bottom: -35px;
}
#section4 .section-heading h2 {
color: #fff;
}
#section4 .section-heading h2:after {
background: rgba(255, 255, 255, 0.3);
}
#section4 .section-heading h3 {
color: rgba(255, 255, 255, 0.8);
}
#section4 .fh5co-project-item {
display: block;
width: 95%;
position: relative;
top: 0;
background: #fff;
overflow: hidden;
z-index: 9;
margin-bottom: 30px;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
-ms-border-radius: 7px;
border-radius: 7px;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
}

#section4 .fh5co-project-item img {
width: 100%;
height: 15em;
z-index: 8;
opacity: 1;
-webkit-transition: 0.3s;
-o-transition: 0.3s;
transition: 0.3s;
}

#section4 .fh5co-project-item .fh5co-text {
padding: 10px 20px;
}
#section4 .fh5co-project-item .fh5co-text h2, #section4 .fh5co-project-item .fh5co-text span {
text-decoration: none !important;
}
#section4 .fh5co-project-item .fh5co-text h2 {
font-size: 18px;
font-weight: bold;
margin: 0;
}
#section4 .fh5co-project-item .fh5co-text span {
color: #b3b3b3;
font-size: 1em;
font-weight: 400;
}
#section4 .fh5co-project-item:hover, #section4 .fh5co-project-item:focus {
-webkit-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
-moz-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
-ms-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
-o-box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
box-shadow: 7px 14px 42px 3px rgba(0, 0, 0, 0.4);
text-decoration: none;
top: -15px;
}
#section4.fh5co-project-item:hover img, #section4 .fh5co-project-item:focus img {
opacity: .7;
}
#section4 .fh5co-project-item:hover h2, #section4 .fh5co-project-item:hover span, 
#section4 .fh5co-project-item:focus h2, #section4 .fh5co-project-item:focus span {
text-decoration: none !important;
}

#section4 .h2_2{
    position: absolute;
    top: -7%;
    left: 10%;
    
}

@media all and (max-width: 785px){
    .row{
    top: 12%;
    left: 12%;
}
}
